<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyyq.platformweb.mapper.HotelShowImgMapper" >
  <resultMap id="BaseResultMap" type="com.jyyq.platformweb.dao.HotelShowImg" >
	<id column="id" property="id" jdbcType="INTEGER" />
	<result column="hotel_id" property="hotelId" jdbcType="INTEGER" />
	<result column="show_info_id" property="showInfoId" jdbcType="INTEGER" />
	<result column="show_img" property="showImg" jdbcType="VARCHAR" />
	<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List">
  	id, hotel_id, show_info_id, show_img, add_time
  </sql>
  
  <insert id="insert" parameterType="com.jyyq.platformweb.dao.HotelShowImg" >
	insert into hotel_show_img (
	  hotel_id, show_info_id, 
	  show_img, add_time)
	values (
	  #{hotelId,jdbcType=INTEGER}, #{showInfoId,jdbcType=INTEGER}, 
	  #{showImg,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.jyyq.platformweb.dao.HotelShowImg" >
	update hotel_show_img
	<trim prefix="set" suffixOverrides=",">
	  <if test="hotelId != null">
		hotel_id = #{hotelId,jdbcType=INTEGER},
	  </if>
	  <if test="showInfoId != null">
		show_info_id = #{showInfoId,jdbcType=INTEGER},
	  </if>
	  <if test="showImg != null and showImg != ''">
		show_img = #{showImg,jdbcType=VARCHAR},
	  </if>
	  <if test="addTime != null">
		add_time = #{addTime,jdbcType=TIMESTAMP},
	  </if>
	</trim>
	where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	delete from hotel_show_img
	where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	select 
	  <include refid="Base_Column_List" />
	from hotel_show_img
	where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
	select 
	  <include refid="Base_Column_List" />
	from hotel_show_img
  </select>
  
  <select id="selectListHotelShowImg" resultMap="BaseResultMap" parameterType="com.jyyq.platformweb.dao.HotelShowImg" >
	select 
	  <include refid="Base_Column_List" />
	from hotel_show_img
  </select>
</mapper>
